:root {
  --primary-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

.link {
  list-style: none;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.menu {
  display: none;
}

.contact {
  display: none;
}

.head {
  width: 100vw;
  border-bottom: 1px solid #ececec;
}

.head-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}

.navigation {
  display: flex;
  margin-left: 93px;
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo__studio {
  color: #000000;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  width: 40px;
  height: 40px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn:hover, .burger-btn:focus {
  fill: var(--accent-color);
}

.menu-mob {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding: 48px 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.04);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.menu-mob.is-open {
  opacity: 10;
  visibility: visible;
  pointer-events: auto;
}

.close-mob-btn {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-mob-btn:hover, .close-mob-btn:focus {
  fill: var(--accent-color);
}

.menu-mob__menu {
  margin-bottom: auto;
}

.menu-mob__item:not(:last-child) {
  margin-bottom: 32px;
  background-color: inherit;
}

.menu-mob__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-mob__link:hover, .menu-mob__link:focus {
  color: var(--accent-color);
}

.menu-mob__link_activ {
  color: var(--accent-color);
}

.menu-mob__contacts {
  margin-bottom: 64px;
}

.menu-mob__item-contacts {
  margin-bottom: 32px;
}

.menu-mob__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.menu-mob__mailto {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-mob__social {
  display: flex;
  justify-content: left;
}

.menu-mob__social-item:not(:first-child) {
  border-left: 1px solid;
  padding-left: 10px;
  color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.menu-mob__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .head {
    width: 768px;
    margin: 0 auto;
  }
  .burger-btn {
    display: none;
  }
  .menu-mob {
    display: none;
  }
  .head-box {
    align-items: center;
    padding: 0px;
  }
  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .navigation {
    display: flex;
    margin-left: 88px;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .navigation__item:not(:first-child) {
    margin-left: 50px;
  }
  .navigation__menu-link {
    position: relative;
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation__menu-link:hover, .navigation__menu-link:focus {
    color: var(--accent-color);
  }
  .navigation__menu-link_activ {
    color: var(--accent-color);
  }
  .navigation__menu-link_activ::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    margin: 0 auto;
  }
  .contact {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: auto;
  }
  .contact__tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__tel:hover, .contact__tel:focus {
    color: var(--accent-color);
  }
  .contact__mailto {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__mailto:hover, .contact__mailto:focus {
    color: var(--accent-color);
  }
  .contact__icon {
    margin-right: 10px;
    fill: var(--text-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact__tel:hover .contact__icon,
  .contact__tel:focus .contact__icon,
  .contact__mailto:hover .contact__icon,
  .contact__mailto:focus .contact__icon {
    fill: var(--accent-color);
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .head {
    width: 1200px;
  }
  .contact__item:not(:last-child) {
    margin-bottom: 0;
  }
  .navigation {
    margin-left: 93px;
  }
  .contact {
    flex-direction: row;
    align-items: center;
  }
  .contact__item:not(:first-child) {
    margin-left: 50px;
  }
}

.hero {
  width: 100%;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fon-images/mob/bg-main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fon-images/mob/bg-main@2x.jpg");
  }
}

.hero-title {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 481px) {
  .hero {
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fon-images/tabl/bg-main.jpg");
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fon-images/tabl/bg-main@2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fon-images/desktop/bg-main.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/fon-images/desktop/bg-main@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.modal-btn {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover, .modal-btn:focus {
  cursor: pointer;
  background-color: #188ce8;
}

.advantages__list-item {
  width: 100%;
  max-width: 450px;
}

.advantages__list-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .advantages__list-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.advantages__list-field {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.advantages__list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.advantages__list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .advantages__list-item {
    margin-left: 30px;
    margin-top: 30px;
    width: 354px;
    align-items: flex-start;
  }
  .advantages__list-text--height {
    height: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-left: 0;
    margin: 0 auto;
  }
  .advantages__list-item {
    width: 270px;
    margin-left: 0;
    margin-top: 0;
  }
  .advantages__list-text--height {
    height: inherit;
  }
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.skills {
  display: none;
  margin: 0 auto;
  padding-bottom: 94px;
}

.skills__title {
  margin-bottom: 50px;
}

.skills__list {
  display: flex;
  justify-items: baseline;
  justify-content: space-between;
  position: relative;
}

.skills__list:not(:last-child) {
  margin-right: 30px;
}

.skills__overlay {
  width: 370px;
  height: 70px;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.skills__overlay_position {
  position: absolute;
  bottom: 0;
}

@media screen and (min-width: 1200px) {
  .skills {
    display: block;
  }
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 79px;
  }
}

.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-item {
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.team-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.team-image {
  width: 100%;
}

.team-names-block {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team-names {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}

.team-professions {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.team-icon-block {
  display: flex;
  justify-content: center;
}

.social-item:not(:first-child) {
  margin-left: 10px;
}

.team-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: inherit;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link:hover, .team-link:focus {
  background: var(--accent-color);
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.team-link:focus .team-icon,
.team-link:hover .team-icon {
  fill: white;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .team-item {
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    background: #ffffff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    flex-wrap: nowrap;
    margin: 0px 0px;
  }
  .team-item {
    margin-top: 0;
    margin-left: 0;
    justify-content: space-between;
  }
  .team-item:not(:first-child) {
    margin-left: 30px;
  }
}

.regular-customers-title {
  margin-bottom: 30px;
}

.regular-customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.regular-customers-item {
  width: calc((100% - 30px * 2) / 2);
  margin-top: 30px;
  margin-left: 30px;
}

.regular-customers-link {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-link:hover, .regular-customers-link:focus {
  border-color: var(--accent-color);
}

.regular-customers-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-link:hover .regular-customers-icon,
.regular-customers-link:focus .regular-customers-icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .regular-customers-item {
    width: calc((100% - 30px * 3) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .regular-customers-title {
    margin-bottom: 50px;
  }
  .regular-customers-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: 0px;
    margin-left: 0px;
  }
  .regular-customers-item {
    margin-top: 0px;
    margin-left: 0px;
    width: 170px;
  }
}

footer {
  width: 100%;
  padding: 60px 0;
  background-color: #2f303a;
}

.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}

.footer-text-link-block {
  margin-bottom: 60px;
}

.logo-footer {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-studio-footer {
  color: #ffffff;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.address-post {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-mail,
.address-tel {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-mail {
  margin-bottom: 8px;
}

.footer-text-link-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

.footer-icon-block {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.footer-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover, .footer-link:focus {
  background-color: var(--accent-color);
}

.footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  footer {
    margin: 0 auto;
  }
  .footer-logo-address {
    margin-bottom: 0px;
  }
  .footer-text-link-block {
    margin-bottom: 0px;
  }
  .footer-block {
    margin: 0 auto;
    width: 768px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-block {
    width: 1200px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
  }
  .address {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .footer-text-link-block {
    display: block;
    margin-bottom: 0;
    margin-left: 70px;
  }
  .footer-logo-address {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0px;
  }
  .logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .logo-studio-footer {
    color: #ffffff;
  }
}

.footer-subscription-text {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  vertical-align: top;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer-subscription-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer-subscription-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-subscription-input {
  display: block;
  margin-bottom: 20px;
  width: 100vw;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
}

.footer-subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  height: 50px;
  background-color: #2196F3;
  padding: 10px 28px 10px 29px;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #FFFFFF;
}

.footer-subscription-btn:focus, .footer-subscription-btn:hover {
  background-color: #188CE8;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-subscription-form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscrition-block {
    display: flex;
    justify-content: center;
  }
  .footer-subscription-form {
    margin-left: auto;
    align-items: flex-start;
  }
  .footer-subscription-input {
    margin-bottom: 0px;
    width: 358px;
  }
  .footer-subscription-btn {
    margin-left: 12px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 450px;
  background-color: #ffffff;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  background-color: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-field {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
}

.modal-form-wrapper {
  display: block;
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(21, 21, 21, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding-left: 42px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 11px;
  left: 12px;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  margin-top: 4px;
  height: 120px;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 16px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 7px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url(../../images/fon-images/icon-check1.png);
  border-color: var(--accent-color);
  background-position: 50% 50%;
  transition-property: background-image;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: none;
  border: 1px solid var(--accent-color);
}

.modal-form-label-link {
  color: #2196F3;
}

.modal-form-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 10px 55px 10px 56px;
  background-color: #2196F3;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-content: center;
  color: #FFFFFF;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:focus, .modal-form-btn:hover {
  background-color: #188CE8;
}

.work-menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -8px;
  margin-bottom: 40px;
}

.work-menu-btn {
  display: block;
  margin-top: 15px;
  margin-left: 8px;
}

.work-menu-btn-text {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: #212121;
  transition-property: color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.work-menu-btn-text:hover, .work-menu-btn-text:focus {
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 768px) {
  .work-menu {
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .work-menu-btn {
    display: block;
    margin-top: 0;
    margin-left: 0px;
  }
  .work-menu-btn:not(:first-child) {
    margin-left: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .work-menu {
    margin-bottom: 50px;
  }
}

.client {
  display: flex;
  flex-direction: column;
}

.client-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .client-item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.client-item:not(:last-child):hover {
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.client-link {
  display: block;
  text-decoration: none;
}

.client__img {
  width: 100%;
}

.client-img-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .overlay,
.client-link:focus .overlay {
  transform: translateY(0%);
}

.client-info {
  padding: 20px 18px;
  border: 1px solid #eeeeee;
}

.client-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.client-order {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .client {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .client-item {
    margin-left: 30px;
    margin-top: 30px;
  }
  .client-item:hover {
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
/*# sourceMappingURL=main.css.map */