.client {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.client-cell {
  margin-left: 30px;
  margin-top: 30px;

    &:hover {
     cursor: pointer;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
}

.client-link {
  display: block;
  text-decoration: none;
}


.client-img-overlay {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;

  text-align: left;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
  transform: translateY(100%);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     .client-link:hover &,
     .client-link:focus & {
        transform: translateY(0%);
      }
}
.client-info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.client-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.client-order {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
 
  letter-spacing: 0.03em;
  color: var(--text-color);
}