footer {
  width: 100%;
 padding: 60px 0;
  background-color: #2f303a;
}
.footer-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
}
.footer-logo-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
}
.footer-text-link-block {
  margin-bottom: 60px;
  
 
}
.logo-footer {
 
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-studio-footer {
  color: #ffffff;
}
.address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.address-post {
  
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-mail,
.address-tel {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-mail {
  margin-bottom: 8px;
}
.footer-text-link-block{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-text {
  margin-bottom: 20px;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  color: #ffffff;
}
.footer-icon-block {
   display: inline-flex;
  justify-content: center;
  align-items: center;
}
.footer-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
 
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
}

.footer-item:not(:last-child) {
  margin-right: 10px;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}



@media screen and (min-width: 768px) {
  footer {
    margin: 0 auto;
  }
  .footer-block {
    margin: 0 auto;
    width: 768px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  }

   
}

@media screen and (min-width: 1200px) {
  footer {
   max-width: 1600px;
  }
 
  .footer-block {
    width: 1200px;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
  }
  .address {
    justify-content: flex-start;
    align-items: flex-start;
  }
.footer-text-link-block {
  display: block;
  margin-bottom: 0;
  margin-left: 70px;
}
 

.footer-logo-address {
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0px;
}
.logo-footer {
  
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-studio-footer {
  color: #ffffff;
}
  
}
