





.team {
   margin: 0 auto;
  width: 100vw;
 padding-bottom: 60px;
 padding-top: 60px;
  max-width: 480px;

  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 30px;
 
}
.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.team-item {
  
  margin-bottom: 30px;
  
  padding-bottom: 24px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.team-image {
  margin-bottom: 30px;
  max-width: 100%;

}
.team-names-block {
  display: block;
  margin: 0 auto;
  
 
}
.team-names {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.team-professions {
  
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
 
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.team-icon-block {
  display: flex;
  justify-content: center;
  
}
.social-item:not(:first-child) {
margin-left: 10px;
}


.team-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: inherit;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
          background: var(--accent-color);
        }
}

.team-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

       .team-link:focus &,
       .team-link:hover & {
          fill: white;
        }     
}

@media screen and (min-width: 780px) {
  .team {
    max-width: 780px;
  }
  .team-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -30px;
}
.team-item {
  margin-left: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
}

@media screen and (min-width: 1200px) {
  .team {
    max-width: 1200px;
  }
  
}



