
.work-menu {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -8px;
  margin-bottom: 40px;
}
.work-menu-btn {
  display: block;
  margin-top: 15px;
  margin-left: 8px;
}
 .work-menu-btn-text {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.63;
 
  color: #212121;
  transition-property: color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

         &:hover,
         &:focus {
            color: #ffffff;
            background: var(--accent-color);
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
         }
}

@media screen and (min-width: 768px) {
  .work-section {
   
  }
  .work-menu {
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 0;
    margin-left: 0;
  }
  .work-menu-btn {
  display: block;
  margin-top: 0;

      &:not(:last-child) {
        margin-right: 8px;
      }
}
  
}
@media screen and (min-width: 1200px) {
  .work-menu {
    margin-bottom: 50px;
  }
  
}














// .work-section {

//   margin: 0 auto;
// }

// .work-menu {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 50px;
// }
// .work-menu-btn {
//   display: block;

//       &:not(:last-child) {
//         margin-right: 8px;
//       }
// }



// .work-menu-btn-text {
//   padding: 6px 22px;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
//   font-weight: 500;
//   font-size: 16px;

//   line-height: 1.63;
 
//   color: #212121;
//   transition-property: color, box-shadow;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//          &:hover,
//          &:focus {
//             color: #ffffff;
//             background: var(--accent-color);
//             box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
//          }
// }
