
.modal-btn {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  margin: 0 auto;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus {
  cursor: pointer;
  background-color: #188ce8;
  }
}

