.modal {
  
  position: absolute;
  width: 528px;
  
  background-color: #ffffff;
  padding: 40px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.close-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  
    transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

     &:hover {
      background-color: var(--accent-color);
    }
}


.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}